// Адаптив
// > 1200px  container{ width: px }

//993px-1200px
@media (max-width: 1200px) {
  .container {
    width: 990px;
  }

  .game {
    padding: 10px 0;
    height: 90vh;
    height: calc(var(--vh, 1vh) * 90);
    &__title {
      text-align: center;
      color: $yel;
      font-size: 30px;
    }

    // Меню
    &__menu {
      margin-top: 30px;
    }
    &__menu-h2-ruler {
      font-size: 28px;
    }
    &__menu-ruler {
      font-size: 20px;
    }
    &__menu-start {
      margin-top: 20px;
      #newGame {
        transform: scale(0.7);
        &:hover {
          box-shadow: none;
        }
      }
    }

    // Игровая часть
    #HitBtn,
    #EnoughBtn,
    #StartBtn {
      &:hover {
        box-shadow: none;
      }
    }
  }
}

//769px-992px
@media (max-width: 992px) {
  .container {
    width: 98vw;
  }

  .game {
    &__dealer-box {
      gap: 5px;
    }
    &__player-box {
      gap: 5px;
    }
    &__card-style {
      width: 18vw;
      height: calc(18vw / 0.6067415);
    }
    &__btn-box {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: repeat(3, 40px);
      gap: 5px;

      margin-top: 15px;
      & > div:nth-child(1) {
        grid-column: 2/3;
        grid-row: 1/4;
        text-align: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
      }
      & > div:nth-child(2) {
        grid-column: 1/2;
        grid-row: 1/4;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
      }
      & > div:nth-child(3) {
        grid-column: 3/4;
        grid-row: 3/4;

        transform: skewY(8deg);
        grid-row: 2/3;
      }
    }
    #HitBtn,
    #EnoughBtn,
    #StartBtn {
      margin: 0 auto;
      min-width: 100%;
      height: 90%;
      font-size: 20px;
      line-height: 1;
    }

    .label {
      margin: 0;
    }

    #DealerS {
      transform: skewY(-8deg);
      grid-row: 2/3;
    }
    #PlayerS {
      transform: skewY(-8deg);
      grid-row: 4/5;
    }

    &__over {
      top: 120px;
      padding: 5px 5px;
      width: 250px;
      height: 187px;
    }
    &__win,
    &__loser,
    &__draww {
      font-size: 54px;
    }

    &__res {
      font-size: 20px;
      line-height: 20px;
      color: $al;
      #playerRes {
        text-align: center;
        text-shadow: 0px 5px 8px aliceblue;
      }
      #dealerRes {
        text-align: center;
        margin-top: 5px;
        text-shadow: 0px 5px 8px aliceblue;
      }
    }
  }
}

//577px-768px
// @media (max-width: 768px) {

// }

//320px-576px
// @media (max-width: 576px) {
//   .container {
//     width: 300px;
//   }
// }
