// normalize
@import "libs/bootstrap-reboot";
@import "libs/normalize";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
* {
    font-family: "Bungee Inline", cursive;
}

// base
@import "./base/variables";

html,
body {
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

// container
.container {
    margin: 0 auto;
    width: 1200px;
}

// blocks
@import "./blocks/game";
@import "./blocks/footer";

// media
@import "./base/media";
