// normalize
@import "libs/bootstrap-reboot";
@import "libs/normalize";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
* {
    font-family: 'Bungee Inline', cursive;
}

// base
@import "./base/variables";

// container
.container {
    margin: 0 auto;
    width: 1200px;
}

// blocks
@import "./blocks/game";

// media
@import "./base/media";
