.game {
  padding: 30px 0;
  height: 85vh;
  background: linear-gradient(rgb(29, 29, 29), 50%, black);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  user-select: none;

  &__title {
    text-align: center;
    color: $yel;
    font-size: 50px;
  }

  // Меню
  &__menu {
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  &__menu-h2-ruler {
    color: $yel;
    font-size: 38px;
    line-height: 1;
  }
  &__menu-ruler {
    color: $al;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
  }
  &__menu-start {
    margin-top: 30px;
    #newGame {
      width: 200px;
      height: 50px;
      font-size: 30px;
      border: none;
      border-radius: 15px;
      background-color: $yel;
      color: black;
      transition: 0.3s all;
      &:hover {
        box-shadow: 0 0 5px $al, 0 0 15px $al, 0 0 15px $al;
      }
      &:active {
        box-shadow: 0 0 5px $main-color, 0 0 15px $main-color, 0 0 15px $main-color;
      }
    }
  }

  // Игровая часть
  &__start {
    display: none;
  }

  &__card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h3 {
      font-size: 24px;
      color: $al;
      margin: 5px;
      //
    }
  }
  &__dealer-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(108px, auto);
    gap: 15px;
  }
  &__player-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(108px, auto);
    gap: 15px;
  }

  &__card-style {
    background-color: $al;
    color: black;
    background-color: black;
    width: 108px;
    height: 178px;
    border: 1px solid $main-color;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.9s cubic-bezier(0.2, 0.85, 0.3, 1.275);
    transform: rotateY(-180deg);
    &_active {
      background-color: $al;
      border: 1px solid $yel;
      transform: rotateY(0deg);
    }
  }
  &__card-top {
    font-size: 24px;
    line-height: 1;
    position: absolute;
    top: 1px;
    left: 5px;
  }
  &__card-mid {
    font-size: 50px;
  }
  &__card-bot {
    font-size: 24px;
    line-height: 1;
    position: absolute;
    bottom: 1px;
    right: 5px;
  }

  &__btn-box {
    margin: 0 auto;
    width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
  }
  #HitBtn,
  #EnoughBtn,
  #StartBtn {
    width: 100px;
    height: 100%;
    font-size: 18px;
    line-height: 1;
    border: none;
    border-radius: 15px;
    background-color: $yel;
    color: black;
    transition: 0.3s all;
    &:hover {
      box-shadow: 0 0 5px $al, 0 0 15px $al, 0 0 15px $al;
    }
    &:active {
      box-shadow: 0 0 5px $main-color, 0 0 15px $main-color, 0 0 15px $main-color;
    }
  }
  #EnoughBtn {
    background-color: $main-color;
    &:active {
      box-shadow: 0 0 5px $yel, 0 0 15px $yel, 0 0 15px $yel;
    }
  }
  #StartBtn {
    background-color: limegreen;
    margin-left: 15px;
  }
  
  .label {
    margin-left: 41px;
    font-size: 20px;
    line-height: 20px;
    color: $al;
  }
  &__score {
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    color: $al;
  }

  #DealerS {
    font-size: 20px;
    line-height: 20px;
    color: $al;
  }
  #PlayerS {
    font-size: 20px;
    line-height: 20px;
    color: $yel;
  }

  &__over {
    display: none;

    position: absolute;
    top: 230px;
    right: 50.1%;
    transform: translateX(50%);
    padding: 15px 15px;
    width: 250px;
    height: 200px;
    background: linear-gradient(black, 90%, limegreen);
    box-shadow: 0 0 15px black, 0 0 25px black, 0 0 35px black;
    border-radius: 11px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  &__win,
  &__loser,
  &__draww {
    font-size: 54px;
  }
  &__win {
    display: none;
    color: limegreen;
  }
  &__loser {
    display: none;
    color: $main-color;
  }
  &__draww {
    display: none;
    color: $yel;
  }

  &__res {
    font-size: 20px;
    line-height: 20px;
    color: $al;
    #playerRes {
      text-align: center;
      text-shadow: 0px 5px 8px aliceblue;
    }
    #dealerRes {
      text-align: center;
      margin-top: 5px;
      text-shadow: 0px 5px 8px aliceblue;
    }
  }
}
